<% if user_signed_in? %>

<h1>New Post</h1>

<%= form_for :post, url: posts_path, :html => {:multipart => true} do |f| %>
 <% if @post.errors.any? %>
 <div id="error_explanation">
  <h2><%= pluralize(@post.errors.count, "error") %> prohibited this 
post from being saved: </h2>
  <ul>
  <% @post.errors.full_messages.each do |msg| %>
   <li><%= msg %></li>
  <% end %>
  </ul>
 </div>
<% end %>

 <p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
 </p>

 <p>
  <%= f.label :text %><br>
  <%= f.text_area :text %>
 </p>

<p>
	<%= f.label :tag_list %><br>
	<%= f.text_field :tag_list, { :placeholder => "Tagged separated by commas" } %>
</p>
<%= f.label :avatar %><br>
<%= f.file_field :avatar %>
</p>

 <p>
  <%= f.submit %>
 </p>

<% end %>

<%= link_to 'Back', posts_path %>

<% else %>
	You need to login first
	<%= link_to "Sign up", new_user_registration_path %><br>
	<%= link_to "Login", new_user_session_path %>
<% end %>
